.england{
    background-image:url('/static/img/england.jpg');
    background-size:   contain;  
    background-repeat: no-repeat;

}
.germany{
    background-image:url('/static/img/germany.jpg');
    background-size:   contain; 
    background-repeat: no-repeat;

}
.italy{
    background-image:url('/static/img/italy.jpg');
    background-size:   contain;
    background-repeat: no-repeat;

}
.spain{
    background-image:url('/static/img/spain.jpg');
    background-size:   contain;
    background-repeat: no-repeat;

}