
{% extends "base.html" %}

{% block content %}
<head>

<!--link href="http://cdn.sencha.io/touch/sencha-touch-2.3.0/resources/css/sencha-touch.css" rel="stylesheet" />
<link href="/static/css/sencha-touch.css" rel="stylesheet"/>
<script src="http://cdn.sencha.io/touch/sencha-touch-2.3.0/sencha-touch-all.js"></script-->

<link href="/static/css/icon.css" rel="stylesheet" />
<script src="/static/js/forms.js"></script>
<script src="/static/js/tabs.js"></script>
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script-->
<!--script src="//code.jquery.com/jquery-1.11.0.min.js"></script-->
</head>
<body>
    
</body>
{% endblock %}
