<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--link href="http://cdn.sencha.io/touch/sencha-touch-2.3.1/resources/css/sencha-touch.css" rel="stylesheet" />
<script src="http://cdn.sencha.io/touch/sencha-touch-2.3.1/sencha-touch-all.js"></script-->
<style>
    html *{
        font-family: Palatino !important;
       
    }
</style>
<link href="/static/css/sencha-touch.css" rel="stylesheet"/>
<script src="/static/js/sencha-touch-all.js"></script>
</head>
{% block content %}{% endblock %}
</html>