<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--link href="http://cdn.sencha.io/touch/sencha-touch-2.3.1/resources/css/sencha-touch.css" rel="stylesheet" />
<script src="http://cdn.sencha.io/touch/sencha-touch-2.3.1/sencha-touch-all.js"></script-->
<style>
    html *{
        font-family: Palatino !important;
       
    }
</style>
<link href="/static/css/sencha-touch.css" rel="stylesheet"/>
<script src="/static/js/sencha-touch-all.js"></script>
<script type="text/javascript">
    function set_title(id,opt){
        var title = opt['HomeTeam']+'  '+opt['FTHG']+':'+opt['FTHG']+'  '+opt['AwayTeam']+' @'+opt['Date']
        if (opt['Referee']!=null){title = title + '\nReferee:'+opt['Referee']}
        var div = document.getElementById(id)
        div.innerText = title

    }
    function legend(parent, data) {
        parent.className = 'legend';
        var datas = data.hasOwnProperty('datasets') ? data.datasets : data;

        // remove possible children of the parent
        while(parent.hasChildNodes()) {
            parent.removeChild(parent.lastChild);
        }

        datas.forEach(function(d) {
            var title = document.createElement('span');
            title.className = 'title';
            if (d.hasOwnProperty('pointColor')){title.style.borderColor = d.pointColor }
            else if (d.hasOwnProperty('fillColor')){title.style.borderColor = d.fillColor }
            else if (d.hasOwnProperty('color')){title.style.borderColor = d.color }
            title.style.fontWeight= 900;
            title.style.borderStyle = 'solid';
            title.style.borderWidth = '5px';
            parent.appendChild(title);

            var text = document.createTextNode(d.title);
            title.appendChild(text);
        });
    }
</script>
</head>
{% block content %}{% endblock %}
</html>