{% extends "base.html" %}
{% block content %}

<body>
    <script>
    Ext.setup({
    onReady: function () {
    var league = window.location.pathname.split("/")[2]
    var top_bar = Ext.create('Ext.Toolbar',{
        docked:'top',
        title:'Loading...',
        layout:{
                type: 'hbox',

            },
        items:[]

    })

    var match_list = Ext.create('Ext.List', {
    fullscreen:true,
    emptyText: 'Loading...',
    store: {
        fields: ['Date','FTHG','FTAG'],
        },

    itemTpl: '{FTHG}:{FTAG}  @  {Date}  ',
    items : [
    top_bar, 
    ],
    listeners:{
        select:function(thislist, record, eOpts){
            var query_url = window.location.search
            var new_url = query_url+'&Date='+record.data['Date']
            window.location = '/summary/'+league+'/'+new_url
        }
    }
    });
    
    var query_url = '/api/v1/'+league+'/'+window.location.search
    Ext.Ajax.setMethod('get')
    Ext.Ajax.setDisableCaching(false)
    Ext.Ajax.request({
        url: query_url,
        params:{
            limit:100,
            order_by:'-Date',
        },
        success: function(response){
            var responseObj = Ext.decode(response.responseText);
            newStore = {
            fields: ['Date','FTHG','FTAG'],
            data: responseObj['objects']
            },
            match_list.setStore(newStore)
            top_bar.setTitle('Recent games')
            top_bar.add([{
                    xtype:'button',
                    text:'Home',
                    //docked:'top',
                    width:100,
                    listeners:{
                            tap:function(){window.location='/'}
                        }
                },{
                    xtype:'button',
                    text:'Trend',
                    //docked:'top',
                    width:200,
                    listeners:{
                            tap:function(){
                                var query_url = window.location.search
                                window.location = '/trend/'+league+'/'+query_url}
                                }
                }])
            top_bar.add()
        },
        failure: function(response) {
        top_bar.setTitle('Failed, Please Reload')
    }

    });
    }
});
    </script>
</body>
{% endblock %}
