{% extends "base.html" %}
{% block content %}

<body>
    <script>
    Ext.setup({
    onReady: function () {
    var league = window.location.pathname.split("/")[2]
    var top_bar = Ext.create('Ext.Toolbar',{
        docked:'top',
        title:'Loading...',
        layout:{
                type: 'hbox',

            },
        items:[]

    })

    var match_list = Ext.create('Ext.List', {
    fullscreen:true,
    emptyText: 'Loading...',
    store: {
        fields: ['Date','FTHG','FTAG'],
        },
    grouped:true,
    itemTpl: '{FTHG}:{FTAG}  @  {Date}  ',
    items : [
    top_bar, 
    ],
    listeners:{
        select:function(thislist, record, eOpts){
            var query_obj = Ext.urlDecode(window.location.search)
            query_obj['Date'] = record.data['Date']
            var new_url = Ext.urlEncode(query_obj)
            window.location = '/summary/'+league+'/?'+new_url
        }
    }
    });
    
    var query_url = '/api/v1/'+league+'/'+window.location.search
    Ext.Ajax.setMethod('get')
    Ext.Ajax.setDisableCaching(false)
    var params = {
            order_by:'-Date',
        }
    if (window.location.search.search('limit')==-1){
        params['limit']=100
    }
    Ext.Ajax.request({
        url: query_url,
        params:params,
        success: function(response){
            var responseObj = Ext.decode(response.responseText);

            newStore = {
            fields: ['Date','FTHG','FTAG','HomeTeam','AwayTeam'],
            groupDir :'DESC',
            data: responseObj['objects'],
            grouper: {
                   groupFn: function(record) {
                       return record.get('HomeTeam')+" vs "+record.get('AwayTeam')+ '  ' +record.get('Date').slice(0,4)
                   }
                },
            }
            match_list.setStore(newStore)
            top_bar.setTitle('')
            top_bar.add([{
                    xtype:'button',
                    text:'Home',
                    //docked:'top',
                    width:100,
                    listeners:{
                            tap:function(){window.location='/'}
                        }
                },{
                    xtype:'button',
                    text:'Trend',
                    //docked:'top',
                    width:200,
                    listeners:{
                            tap:function(){
                                    var query_obj = Ext.urlDecode(window.location.search)
                                    delete query_obj['Date']
                                    var new_url = Ext.urlEncode(query_obj)
                                    window.location = '/trend/'+league+'/?'+new_url}
                                }
                }])
        },
        failure: function(response) {
        top_bar.setTitle('Failed, Please Reload')
    }

    });
    }
});
    </script>
</body>
{% endblock %}
