{% extends "base.html" %}

{% block content %}
{%verbatim%}
<head>
<script src="/static/js/Chart.min.js"></script>
<style>
</style>
</head>
<body>
    <script>
    function set_trend_title(id,opt,col){
        var title = opt['HomeTeam']+' vs '+opt['AwayTeam'] +'    ' + col+" trend"
        var div = document.getElementById(id)
        div.innerText = title

    }
    
    function create_chart(id, col){
        var date_list = chart_data['Date']
        var home_data = chart_data[col]['Home']
        var away_data = chart_data[col]['Away']
        document.getElementById(id).height = w
        document.getElementById(id).width = h
        var data = {
            labels: date_list,
            datasets: [
                {
                    title: rd[0]['HomeTeam'],
                    fillColor: "rgba(220,220,220,0)",
                    strokeColor: "#01A8C6",
                    pointColor: "#01A8C6",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#3FC0CB",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: home_data
                },
                {
                    title: rd[0]['AwayTeam'],
                    fillColor: "rgba(220,220,220,0)",
                    strokeColor: "#8FBE01",
                    pointColor: "#8FBE01",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#AEE239",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: away_data,
                }
            ]
        };
        var ctx = document.getElementById(id).getContext("2d");
        var myLineChart = new Chart(ctx).Line(data);
        set_trend_title(id+'_title',rd[0],col)
        legend(document.getElementById(id+"_legend"), data)
    }
    Ext.setup({
    onReady: function () {
        var league = window.location.pathname.split("/")[2]
        var query_url = '/api/v1/'+league+'/'+window.location.search
        var top_bar = Ext.create('Ext.Toolbar',{
            docked:'top',
            title:'Loading...',
            layout:{
                    type: 'hbox',

                },
            items:[]

        });
        gn={}
        gn.ww = Math.min(document.documentElement.clientWidth-20, window.innerWidth-20,document.body.clientWidth)
        gn.hh = Math.min(document.documentElement.clientHeight*0.6, window.innerHeight*0.6,document.body.clientHeight)
        w=gn.ww
        h=gn.hh
    
    Ext.create('Ext.Carousel', {
                fullscreen: true,
                
                defaults: {
                    styleHtmlContent: true
                },
                
                items: [
                    top_bar,
                    {
                        html : '<div id="chart1_title"></div><canvas id="chart1"  width='+w+' height="'+h+'"></canvas><div id="chart1_legend"></div>',
                        style: 'background-color: #E5E5D3',
                        listeners:{
                            painted:function(){create_chart('chart1','Goal')}
                        },
                        
                    },
                    {
                        html : '<div id="chart2_title"></div><canvas id="chart2"  width='+w+' height="'+h+'"></canvas><div id="chart2_legend"></div>',
                        style: 'background-color: #E5E5D3',
                        listeners:{
                            painted:function(){create_chart('chart2','Shot')}
                        },
                        
                    },
                    {
                        html : '<div id="chart3_title"></div><canvas id="chart3"  width='+w+' height="'+h+'"></canvas><div id="chart3_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart3','Shot on target')}
                        },
                        style: 'background-color: #E5E5D3'
                    },{
                        html : '<div id="chart4_title"></div><canvas id="chart4"  width='+w+' height="'+h+'"></canvas><div id="chart4_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart4','Foul')}
                        },
                        style: 'background-color: #E5E5D3'
                    },{
                        html : '<div id="chart5_title"></div><canvas id="chart5"  width='+w+' height="'+h+'"></canvas><div id="chart5_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart5','Yellow')}
                        },
                        style: 'background-color: #E5E5D3'
                    },{
                        html : '<div id="chart6_title"></div><canvas id="chart6"  width='+w+' height="'+h+'"></canvas><div id="chart6_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart6','Red')}
                        },
                        style: 'background-color: #E5E5D3'
                    },{
                        html : '<div id="chart7_title"></div><canvas id="chart7"  width='+w+' height="'+h+'"></canvas><div id="chart7_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart7','Corner')}
                        },
                        style: 'background-color: #E5E5D3'
                    },{
                        html : '<div id="chart8_title"></div><canvas id="chart8"  width='+w+' height="'+h+'"></canvas><div id="chart8_legend"></div>',
                        listeners:{
                            painted:function(){create_chart('chart8','Half time')}
                        },
                        style: 'background-color: #E5E5D3'
                    },
                ]
            });

    Ext.Ajax.setMethod('get')
    Ext.Ajax.setDisableCaching(false)
    Ext.Ajax.request({
        url: query_url,
        params:{
            limit:100,
            order_by:'-Date',
        },
        success: function(response){
            
            var responseObj = Ext.decode(response.responseText);
            rd = responseObj['objects']
            chart_data = {
                Date : [],
                Goal : {
                    Home : [],
                    Away : []
                },
                Shot : {
                    Home : [],
                    Away : []
                },
                Corner : {
                    Home : [],
                    Away : []
                },
                Foul : {
                    Home : [],
                    Away : []
                },
                Yellow : {
                    Home : [],
                    Away : []
                },
                Red : {
                    Home : [],
                    Away : []
                },
                'Shot on target' : {
                    Home : [],
                    Away : []
                },
                'Half time' : {
                    Home : [],
                    Away : []
                },
            }
            for(i=0;i<rd.length;i++){
                chart_data['Goal']['Home'].push(rd[i]['FTHG'])
                chart_data['Goal']['Away'].push(rd[i]['FTAG'])

                chart_data['Shot']['Home'].push(rd[i]['HS'])
                chart_data['Shot']['Away'].push(rd[i]['AS'])

                chart_data['Shot']['Home'].push(rd[i]['HS'])
                chart_data['Shot']['Away'].push(rd[i]['AS'])

                chart_data['Foul']['Home'].push(rd[i]['HF'])
                chart_data['Foul']['Away'].push(rd[i]['AF'])

                chart_data['Yellow']['Home'].push(rd[i]['HY'])
                chart_data['Yellow']['Away'].push(rd[i]['AY'])

                chart_data['Red']['Home'].push(rd[i]['HR'])
                chart_data['Red']['Away'].push(rd[i]['AR'])

                chart_data['Shot on target']['Home'].push(rd[i]['HST'])
                chart_data['Shot on target']['Away'].push(rd[i]['AST'])

                chart_data['Corner']['Home'].push(rd[i]['HTHG'])
                chart_data['Corner']['Away'].push(rd[i]['HTAG'])

                chart_data['Half time']['Home'].push(rd[i]['HTHG'])
                chart_data['Half time']['Away'].push(rd[i]['HTAG'])

                chart_data['Date'].push(rd[i]['Date'])
            } 
            create_chart('chart1','Goal')
            create_chart('chart2','Shot')
            var opt = {
            
            }            
            top_bar.setTitle('')
            top_bar.add([{
                    xtype:'button',
                    text:'Home',
                    width:100,
                    listeners:{
                            tap:function(){window.location='/'}
                        }
                },{
                    xtype:'button',
                    text:'Back to list',
                    width:200,
                    listeners:{
                            tap:function(){
                                var query_obj = Ext.urlDecode(window.location.search)
                                delete query_obj['Date']
                                var new_url = Ext.urlEncode(query_obj)
                                window.location = '/match/'+league+'/?'+new_url
                            }
                }
                }])
                }
            });
            }
        });
    </script>
</body>
{%endverbatim%}
{% endblock %}